{% macro input(name, label, type = 'text', value = '', error = '', attributes = '') %}
    <label for="{{ name }}">{{ label }}</label>
    <input id="{{ name }}" class="form-control {% if error %}input-invalido{% endif %}" name="{{ name }}" type="{{ type }}" value="{{ value|escape }}" {{ attributes|raw }} />
    {% if error %}
        <span class="msg-error">{{ error|escape }}</span>
    {% endif %}
{% endmacro %}

{% macro select(name, label, options, selectedValue = '', error = '', attributes = '') %}
    <label for="{{ name }}">{{ label }}</label>
    <select id="{{ name }}" class="form-control {% if error %}input-invalido{% endif %}" name="{{ name }}" {{ attributes|raw }}>
        <option value="">Seleccione una opción</option>
        {% for option in options %}
            <option value="{{ option.id|escape }}" {% if selectedValue == option.id %}selected{% endif %}>
                {{ option.nombre|escape }}
            </option>
        {% endfor %}
    </select>
    {% if error %}
        <span class="msg-error">{{ error|escape }}</span>
    {% endif %}
{% endmacro %}

{% macro textarea(name, label, value = '', error = '', attributes = '') %}
    <label for="{{ name }}">{{ label }}</label>
    <textarea id="{{ name }}" class="form-control {% if error %}input-invalido{% endif %}" name="{{ name }}" {{ attributes|raw }}>{{ value|escape }}</textarea>
    {% if error %}
        <span class="msg-error">{{ error|escape }}</span>
    {% endif %}
{% endmacro %}
