{% extends 'layout/base.html.twig' %}
{% import 'macros/forms.html.twig' as forms %}

{% block title %}PawPrints - Reserva{% endblock %}

{% block main %}
  <header>
    <h1>Reserva de Libros</h1>
    <p>Solicitá tu reserva a continuación</p>
  </header>

  <section class="Formulario">
    <h2>Formulario de Reserva</h2>

    <form id="form-reserva" action="/reserva/procesar-reserva" method="POST">

      <fieldset>
        <legend>Datos Personales</legend>

        {{ forms.input('nombre', 'Nombre', 'text', '', errores.nombre|default(''), 'required') }}

        {{ forms.input('email', 'Email', 'email', '', errores.email|default(''), 'required') }}

        {{ forms.input('tel', 'Teléfono', 'tel', '', errores.tel|default('')) }}
      </fieldset>

      <fieldset>
        <legend>Detalles</legend>

        {{ forms.input('cantidad', 'Cantidad', 'number', '', errores.cantidad|default(''), 'min="1" max="5" required') }}

        {{ forms.input('libro', 'Título', 'text', '', errores.libro|default(''), 'required') }}
      </fieldset>

      <button type="submit" class="btn-primario">Reservar</button>
    </form>
  </section>
{% endblock %}
